<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ankit_pc.dietmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".AnalyticsApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <provider
            android:authorities="com.example.ankit_pc.dietmanager"
            android:name=".NutrientsProvider" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FoodCategory"
            android:label="@string/title_food_category"

            />
        <activity
            android:name=".FetchNutrientValues"
            android:label="@string/title_activity_fetch_nutrient_values"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vegetables"
            android:label="@string/title_activity_vegetables"
             />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".Fruits"
            android:label="@string/title_fruits"/>
        <activity android:name=".Nuts"
            android:label="@string/title_nuts"/>
        <activity android:name=".BabyFoods"
            android:label="@string/title_baby_food"/>

        <activity android:name=".DailryEggProducts"
            android:label="@string/title_dairy_products"></activity>


        <receiver
            android:name=".NutrientWidgetProvider"
            android:label="@string/title_widget_nutrient">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.android.sunshine.app.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


    </application>

</manifest>